<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stock API</title>
</head>
<body>
    <div id="background">
        <div class="top-container">
            <h1 class="header">Stockpedia</h1>
            <br>
            <form action="/search" method="get">
                <input type="text" name="sym" placeholder="Enter symbol here...">
                <input type="submit" class="btn btn-primary" value="Search">
            </form>
            <br>
            <p>* Please put stock symbols in the following format "FB, MSFT, NFLX" </p>
        </div>       
    </div>
</body>
</html>
